[Unit]
Description=AppImage daemon
After=basic.target

[Service]
ExecStart=/home/kwodzicki/.local/bin/appimaged
Restart=always
RestartSec=5s
StartLimitInterval=0

[Install]
WantedBy=graphical.target
